spring:
  datasource:
    url:
    username: 
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto:
    show-sql:
    open-in-view:
    properties:
      hibernate:
        format_sql:

server:
  port: